@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
	/* CSS Document */
	
body {
  background: white;
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img/home3.jpg) no-repeat center center fixed;
  background-size: cover;
}


/*
html { 
  background: url(people.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


.content {
  position: relative;
  width: 400px;
  height: 475px;
  margin: 0 auto;
  padding: 20px 22px;
  border: 1px solid;
  background: rgba(130,130,130,.3);
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
  text-align:center;
}

.newcontent {
  position: relative;
  width: 400px;
  height: 550px;
  margin: 0 auto;
  padding: 20px 22px;
  border: 1px solid;
  background: rgba(130,130,130,.3);
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
  text-align:center;
}


#logo{
	margin-top:20px;
	margin-bottom:30px;
	position:relative;
	width:250px;
}

.fb-login-button{
	margin:30px;
}

.accountProfile{
	margin-bottom:30px;
}

#labelUserProfile{
	color:white;
}

.statbox{
	font-size: 15px;
	height: 150px;
	padding:10px;
	padding-top:10px;
	text-align:center
}
.statbox a{
    padding: 7px;
	background-color:#3b5998;
	border-radius:10pt;
}

.statbox a:link{
	color:white;
	text-decoration: none;
}

.statbox a:visited{
	color:white;
	text-decoration: none;
}

#labelAccessToken{
	margin-top: 20px;
	margin-bottom:10px;
	font-size: 20px;
}

#textAccessToken{
	width: 150px;
	height:20px;
	font-size:12px;
	vertical-align:bottom;
}

#buttonGetPosts{
	width: 120px;
	height:26px;
	font-size:9px;
	margin-top:0;
}

#buttonGetPosts:hover{
	cursor: pointer;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 5px;
	margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	width: 170px;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button:hover{
	cursor: pointer;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#labelUserPosts{
	font-size: 20px;
	color: white;
}

#result{
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-top:10px;
  padding: 20px 22px;
  text-align:center;
  border: 1px solid;
  background: rgba(130,130,130,.3);
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
  visibility:hidden;
}

.spinner{
    position: absolute;
    height: 20px;
    width: 200px;
	top:0%;
    left: 50%;
    margin-left: -100px;
    background: url(assets/loader.gif);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#privacyPolicy {
	text-decoration:none;
	font: menu;
	font-size: 16px;
	
	color:white;
}

#privacyPolicy {
	font-family: 'Montserrat', Helvetica, sans-serif;
	position: fixed;
    bottom: 0;
    left: 0;
	border-radius: 100px;
	color: #fff;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 14px;
	margin: 0 15px;
}



